<ul>
	<li>
		<a [routerLink]="['/']">Home</a>
    </li>
	<li>
		<a [routerLink] = "['/customer']">Customer</a>
    </li>
	<li>
		<a [routerLink] = "['/home/customer-manage']">Customer manage</a>
    </li>
</ul>
