<table>
	<tr>
		<td>Name</td>
		<td>
			<input type="text" [(ngModel)] = "CurrentCustomer.CustomerName" />
		</td>
	</tr>
	<tr>
		<td>Amount</td>
		<td>
			<input type="text" [(ngModel)] = "CurrentCustomer.CustomerAmount" />
		</td>
	</tr>

	<tr>
		<td>Code</td>
		<td>
			<input type="text" [(ngModel)] = "CurrentCustomer.CustomerCode" />
		</td>
	</tr>
	<tr>
		
		<td colspan="2">
			<button (click)="submit()">ok</button>
		</td>
		
	</tr>
</table>

Name: {{CurrentCustomer.CustomerName}}
<br>
Name: {{CurrentCustomer.CustomerAmount}}
<br>
Name: {{CurrentCustomer.CustomerCode}}

